@import "../variables.scss";

.btnWrap {
  position: fixed;
  width: 150px;
  top: 50%;
  left: 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 3px solid $mainColor;
  padding: 10px;
  color: $mainColor;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
  letter-spacing: 0.1rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  &__span {
    position: absolute;
    width: 25%;
    height: 100%;
    transform: translateY(-150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
    background-color: $mainColor;
    &:nth-child(1) {
      @include btnAnimation(1);
    }
    &:nth-child(2) {
      @include btnAnimation(2);
    }
    &:nth-child(3) {
      @include btnAnimation(3);
    }
    &:nth-child(4) {
      @include btnAnimation(4);
    }
  }
  &:hover,
  &:focus {
    color: #fff;
  }
  &:hover &__span,
  &:focus &__span {
    transform: translate(0) scale(2);
  }
}
