@import "../variables.scss";

.catWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.toggle {
  text-align: center;
  &__header {
    position: relative;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    min-width: 250px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    @include borderGradient;
    &:hover {
      background-color: lighten($mainColor, 50);
    }
  }
  &__chevron {
    height: 20px;
    transform: rotate(180deg);
    transition: all 0.5s ease-out;
    &__closed {
      transform: rotate(0deg);
    }
  }
  &__itemWrap {
    @include gradient;
    border-radius: 20px;
    z-index: -2;
    padding: 1px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    height: auto;
    &__closed {
      transform: scaleY(0);
      height: 0;
      opacity: 0;
    }
  }
  &__item {
    background-color: #fff;
    margin: 5px;
    padding: 2px;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: #fff;
    }
  }
}

.resetBtn {
  position: relative;
  height: 25px;
  background-color: #fff;
  border-radius: 25px;
  padding: 1px 5px;
  cursor: pointer;
  @include borderGradient;
  &:hover {
    background-color: lighten($mainColor, 50);
  }
}
