@import "../variables.scss";

.pageWrap {
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171d1a55;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  background-color: #fff;
  max-width: 950px;
  height: 800px;
  margin: 50px;
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  @include borderGradient;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__title {
    color: $mainColor;
    font-size: 2rem;
  }
  &::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 4px;
    background: $mainColor;
    @include gradient;
  }
}

.close {
  cursor: pointer;
  background-color: $secondaryColor;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &__cross {
    position: relative;
    width: 30px;
    height: 30px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      height: 6px;
      background-color: #fff;
      border-radius: 6px;
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    transform: rotateZ(90deg);
    background-color: $mainColor;
  }
}

.main {
  margin: 30px;
  flex-grow: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: lighten($secondaryColor, 45);
    box-shadow: inset 0 0 5px lighten($secondaryColor, 30);
  }
  &::-webkit-scrollbar-thumb {
    background: $mainColor;
    @include gradient(160deg);
    border-radius: 10px;
    position: relative;
  }
}

.footer {
  padding: 20px;
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    right: 0;
    top: -5px;
    width: 100%;
    height: 4px;
    background: $mainColor;
    @include gradient;
  }
}

.totalWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  &__para {
    font-size: 1.3rem;
    &__price {
      font-size: 2rem;
      margin-left: 20px;
      font-weight: 500;
    }
  }
  &__btn {
    background: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid $mainColor;
    color: $mainColor;
    cursor: pointer;
    transition: all 0.5s ease-in;
    position: relative;
    z-index: 1;
    &:hover {
      color: white;
    }
    &::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background-color: $mainColor;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.5s ease-in;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .totalWrap {
    flex-direction: column;
    gap: 25px;
  }

  .cart {
    width: 100%;
    height: 90%;
    margin: 80px 10px;
  }
}
