$mainColor: #31b572;
$lightColor: #d0ff49;
$secondaryColor: #00d4ff;

@mixin gradient {
  background: linear-gradient(
    90deg,
    $lightColor 0%,
    $mainColor 35%,
    $secondaryColor 100%
  );
}

@mixin borderGradient {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    @include gradient;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 3px;
    margin: -3px;
    border-radius: 25px;
  }
}
